.gridBanner {
  width: 116%;
  display: flex;
  padding: 16px;
  background-color: $white;
  gap: 40px;

  .leftBlock {
    width: 57.5%;
    margin: 8px;
    display: flex;
    flex-direction: column;

    .label {
      width: 150px;
      background: $greyDivider;
      padding: 8px 16px;
      @include button-text;
      font-family: GteestiProDisplayLight, sans-serif;
      border-radius: 8px;
    }

    .title {
      margin-top: 24px;
      @include card-title;
      font-size: 1.75rem;
      line-height: 33.6px;
    }

    .text {
      margin-top: 16px;
      @include card-text;
      font-size: 1rem;
      line-height: 22.4px;
    }
    .title, .text {
      width: 71.6%;
    }

    .moreButton {
      width: 188px;
      margin-top: auto;
      @include button-text;
      color: $white;
    }
  }

  .imgBlock {
      width: 42.5%;
    border-radius: 16px;
  }
}