.gridBanner {
  display: flex;
  padding: 16px;
  background-color: $white;
  border-radius: 16px;
  justify-content: space-between;

  .leftBlock {
    width: 42.3%;
    margin: 8px;
    display: flex;
    flex-direction: column;

    .label {
      width: 150px;
      background: $greyDivider;
      padding: 8px 16px;
      @include button-text;
      font-family: GteestiProDisplayLight, sans-serif;
      border-radius: 8px;
    }

    .title {
      margin-top: 24px;
      @include card-title;
      font-size: 1.75rem;
      line-height: 33.6px;
    }

    .text {
      margin-top: 16px;
      @include card-text;
      font-size: 1rem;
      line-height: 22.4px;
    }

    .title, .text {
      width: 100%;
    }

    .moreButton {
      width: 188px;
      margin-top: auto;
      @include button-text;
      color: $white;
    }
  }

  .imgBlock {
    width: 49.6%;
    border-radius: 16px;
  }

  @media screen and (min-width: 1384px) {
      width: 100%;
      .imgBlock {
        width: 492px;
        height: 332px;
      }

      .leftBlock {
        width: 420px;
      }
  }
}