$primary: #636768;
$mainText: #070C1C;
$description:#424242;
$brandPrimary:#00CB9F;
$greyBackground:#F3F4F8;
$white: #FEFEFE;
$lightGreen:#D1F3EC;
$darkGreen: #2A8370l;
$greyBG: rgba(217, 229, 237, 0.6);
$greyDivider: rgba(227, 229, 235, 0.45);
$iconColor: rgba(28, 39, 76, 1);
