.mainPage {
  padding: 0 16px;
  background: $greyBackground;
  box-sizing: border-box;

  .searchBlock {
    margin-top: 40px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;

    .leftSide {
      width: 71%;
      max-width: 992px;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      .cardContainer {
        width: calc(50% - 8px);
      }

      .moreButton {
        width: 100%;

        .showMore {
          width: 288px;
          margin: 48px auto 0;
          font-size: 1.25rem;
          line-height: 28px;
          padding: 10px;
          text-align: center;
        }
      }
    }

    .sideBarSide {
      width: 27%;
      max-width: 376px;

      .sideBar {
        background: $white;
        border-radius: 16px;
        padding: 20px 0;

        .categoryItemTitle {
          border-radius: 12px;
          &:hover {
            background: $greyBG;
          }
        }

        .topTitleStyle {
          color: $brandPrimary;
        }

        .topTitleItemStyle {
          opacity: 80%;
        }

        .itemsBlock {
          margin-top: 8px;
        }

        .categoryName {
          margin: 8px 24px 0 24px;
          font-family: HelveticaNeueRoman, Helvetica, Arial, sans-serif;
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 27.72px;
          opacity: 80%;
          cursor: pointer;
          &:hover {
            background: $greyBG;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1384px) {
    .searchBlock {
      width: 1384px;
      margin: 32px auto 0;
    }
    .content {
      width: 1384px;
      margin: 32px auto 0;
      .leftSide {
        width: 992px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        .cardContainer {
          width: calc(50% - 8px);
        }
      }

      .sideBarSide {
        width: 376px;
      }
    }
  }
}