.link {
  font-family: 'GteestiProDisplay', sans-serif;
  font-size: 1rem;
  line-height: 19.84px;
  color: $brandPrimary;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    font-size: 1.125rem;
    line-height: 22.32px;
  }
}